@for(product of products;track product.sku){
<div class="product-container">
  <div class="product-content-left">
    <img src="{{ product.imageUrl }}" class="product-img" />
  </div>
  <div class="product-content-middle">
    <div class="header">
      <h5>{{ product.name }}</h5>
      <p class="subtitle">{{ product.sku }}</p>
    </div>
    <p class="categories">
      @for(c of product?.departmentJson?.department;track $index;let isLast =
      $last){
      <a href="#">{{ c }}</a> @if(!isLast){
      {{ " > " }}
      } }
    </p>
  </div>
  <div class="product-content-right">{{ product?.price | currency }}</div>
</div>
}
<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons="true"
  aria-label="Select page"
  (page)="notify($event)"
>
</mat-paginator>
